//
   Created by seonaid on 15-01-25.

extends layout
block extraHead
   link(rel="stylesheet", href="/stylesheets/offcanvas.css")


block content
   section#welcome
      div Welcome
      a#startchat(type="button", class="btn", href="/chatroom") Start now
