//
   Created by seonaid on 14-11-25.
extends layout

block content
   p oh no, i have fleas.
   section.contenthome
      .aside
         p Did you know that Sven's Snowshoe Emporium produces the highest quality snowshoes in North America?
         p: a(href="#") Find out more
      .article
         h3 New Fall Styles
            p Autumn is finally here, and as you've probably guessed, all of this year's new designer styles are now available!
            p
               | Be the first at your resort to sport the hot new tennis-themed snow kicks,
               | now available in the
               a(href="#") store
               | .
