doctype html
html
  head
    title= title
    // bootstrap
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    //link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet",href="/stylesheets/carousel.css")
    block extraHead
    // carousel and offcanvas css don't work together
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // Seonaid's additions
    link(rel='stylesheet', href='/stylesheets/style2.css')


  body
    block navigation
    block content

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    //script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/bootstrap.min.js")
    //script(src="/javascripts/clientscript.js")
    script(src="/javascripts/offcanvas.js")
