//
   Created by seonaid on 15-01-20.

extends layout

block content
   p You have achieved imaginary login!

   input#message(type = 'text')
   input#sender(type = 'button', value = "Send")
   a#startchat(type="button", class="btn", href="/chatroom") Chat?
