//
   Created by seonaid on 15-01-20.

extends layout
block extraHead
   link(rel="stylesheet", href="/stylesheets/offcanvas.css")

block content

   .container
      .row.row-offcanvas.row-offcanvas-right
         .col-xs-12.col-md-12
            p You have achieved imaginary login!

            input#message(type = 'text')
            input#sender(type = 'button', value = "Send")
            a#startchat(type="button", class="btn", href="/chatroom") Chat?
